streamlit==1.30.0
streamlit_option_menu==0.3.6
pandas
scikit-learn==1.3.0
numpy
seaborn
matplotlib==3.7.2
pdfplumber==0.11.4
PyPDF2==2.12.1
beautifulsoup4==4.12.3
gensim
nltk==3.8.1
transformers
torch
scipy
fpdf==1.7.2
google-generativeai==0.8.3
google-api-python-client==2.48.0
pdfkit==1.0.0
youtube-transcript-api==0.6.2
textblob==0.17.1
